<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71963037913-m4khp0dj56cud8u3phfsloaa42no6mf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71963037913-m4khp0dj56cud8u3phfsloaa42no6mf8</string>
	<key>API_KEY</key>
	<string>AIzaSyAVsYOGHctHlxCvOik7C1ioKCHJ3mWMXOM</string>
	<key>GCM_SENDER_ID</key>
	<string>71963037913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreTest</string>
	<key>PROJECT_ID</key>
	<string>quiet-cider-254713</string>
	<key>STORAGE_BUCKET</key>
	<string>quiet-cider-254713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71963037913:ios:d2acfcc83b4546beceeec8</string>
</dict>
</plist>